html {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: 300;
    color: #ddd;
}

small {
    font-size: smaller;
    opacity: 0.8;
}

h1 {
    margin: 0px;
}

h2 {
    text-align: center;
    margin: 30px;
}

button {
    background-color: #3882F6;
    border-radius: 6px;
    border-color: #3882F6;
    padding: 4px 18px;
    color: white;
    font-weight: 400;
    font-size: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.header,
.hero {
    background-color: #1F2937;
    color: white;
}

.hero {
    padding: 60px 100px;
    display: flex;
    gap: 20px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.hero-image {
    background: #ffffff66;
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 160px;
}

.info {
    padding: 20px 160px 80px 160px;
}

.bullets {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.bullets>* {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.square {
    min-height: 140px;
    min-width: 100px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.bullet small {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 80px 180px;
}

.quote h2 {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    text-align: left;
    margin: 0;
}

.quoteOrigin {
    text-align: right;
}

.add {
    background-color: #3882F6;
    color: white;
    margin: 60px 100px;
    border-radius: 6px;
    padding: 30px 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add p {
    margin: 0;
}

.add button{
    border-color: white;
}

.footer{
    background-color: #1F2937;
    padding: 20px;
    color: white;
    text-align: center;
}